/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid magenta; */
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 730px;
}


.button-blue{
    background-color: #0257E5;
    color: white;
}

.button-blue:hover{
    background-color: #0255e5d8;
    cursor: pointer;
}

.button-white{
    background-color: white;
}

.button-white:hover{
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

h1{
    font-size: 4.7rem;
    padding-bottom: 2rem;
    font-weight: 900;
}

h3{
    font-size: 1.6rem;
}

div.container-columns h3,
p{
    margin-bottom: 1.2rem;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.j-between{
    justify-content: space-between;
}

.flex-j-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.container-columns{
    width: calc((100% / 3) - 2rem);
    font-size: 1rem;
    margin-right: 2rem;
}
section.flex div.border{
    border: 1px solid rgba(0, 0, 0, 0.212);
}


.container-bot-info{
    margin-top: 3rem;
    width: calc(100% - 2rem);
    border: 1px solid black;
}

div.plan-info{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem;
}

/* Header - flex-spaceBW */

#flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2rem 0; */
    height: 90px;
}

header a{
    padding: 0 1rem;
}

header img{
    padding: 0 1.2rem;
}

.button-start{
    font-size: 1.2rem;
    padding: .5rem 1.1rem;
}

/* Main */

/* Section Jumbo - container  big */

section.bg-color{
    background-color: #B3D0E7;
}

section.jumbotron{
    padding-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 8rem;
}

/* container- BIG */
div.container-big{
    max-width:1300px; 
    margin: 0 auto;
}

.p-relative{
    position: relative;
    top:92px
}

.class-checkbox{
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 3rem;
}


/* Fatturazioni */
div.first-jumbo-30{
    width: 30%;
}


div.first-jumbo-30 *{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

div.first-jumbo-30 i{
    font-size: 4rem;
    margin-top: 1rem;
}

div.second-jumbo-70{
    width: 70%;
}

.button-try{
    padding: .5rem 1rem;
}

.button-download{
    width: 100%;
    padding: .7rem 0;
}

.button-different{
    padding: .8rem .88rem;
    font-size: 1.19rem;
}

.button-different:hover{
    background-color: lightgray;
    cursor: pointer;
}

div.container-jumbo i.fa-solid{
    font-size: 3rem;
}

main img{
    width: 100%;
}


/* Container piani di abbonamento */
section.container-small,
div.container-small{    
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    /* height: 1300px; */
}

h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section.container-small a{
    color: blue;
}

input {
    margin-right: .5rem;
}


div i{
    margin-right: 1rem;
}

div.plan-type{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    margin-bottom: 1.2rem;
}

i.fa-check{
    color: blue;
}

div.container-columns div,
h3{
    padding: .7rem 2rem;
}

/* Section profile bot */
div.column-bot{
    width: 70%;
    margin: 0 auto;
}

div.column-bot div{
    margin: 2rem;
}

section.colum-bot button{
    margin: 2rem;
}


/* Contanier partner */

div.first-box{
    width: 60%;
}

div.second-box{
    width: 40%;
    padding: 4rem;
}

div.second-box *{
    margin-bottom: 2rem;
}


/* section list operation */

div.container-columns img{
    width: 100%;
    
}

section.container-small div.margin-bottom{
    margin-bottom: 2rem;
}

/* Container cards */

.container-cards{
    width: 100%;
}

.container-four-cards {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    min-width: 400px;
}

div.single-card{
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
}

.single-card img{
    width: 50%;
    filter: invert(1);
}
/* First section four cards */

.card-1{
    background-color: #A2D39B;
}


.card-2{
    background-color: #61072B;
}

.card-3{
    background-color: #0193CE;
    align-items: center;
}

.card-4{
    background-color: #FF1C1C;
}



/* Section center card big */

div.card-center{
    background-color: #F5F5F5;
    width: 100%;   
    height: 100%;
}

div.container-card-boxcenter{
    /* height: 200px; */
}

div.container-card-boxcenter img{
    width: 50%;
    padding:2.5rem;
}

div.card-center p{
    padding: 2.5rem;

}


/* Second section four cards */
.card-5{
    background-color: #D5001F;
}


.card-6{
    background-color: #B3D0E7;
}

.card-7{
    background-color: #0D2481;
}

.card-8{
    background-color: #FED930;

}



/* Dropbox con bottone */

section.jumbotron .button-different{
    margin-bottom: 2rem;
}

section.jumbotron div.first-box h2{
    color: #61072B;
}


/* FAQ */

section.FAQ > div{
    padding: 3rem;
    border-top: 1px solid black;
}

section.FAQ div.flex:last-child{
    border-bottom: 1px solid black;
}


/* Footer */
footer{
    background-color: black;
    color: white;
    height: 400px;
}

footer ul li,
span{
    list-style-type: none;
    padding: .5rem 2rem;
}

footer hr{
    margin: 2rem 0;
}

hr{
    width: 100px;
    position: relative;
    left: 50px;
}

